@charset "UTF-8";

*{
  margin: 0;
}

/*:colors*/

:root {
  --main: #02b209;
  --border: #4fc954;
  --shadow: #018507;
  --text: #ffffffff;
}

/*selection:*/

::selection {
  background-color: var(--main);
  color: var(--text);
}

img::selection {
  background-color: #00000000;
}

/*container*/

._container {
  font-family: sans-serif;
}

/*header*/

header {
  width: 100vw;
  height: 64px;
  background-color: var(--main);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

/*media: header*/

@media (max-width:999px) {
  header {
   height: 88px;
  }
}

/*share*/

.share {
  margin-left: 25px;
}

/*media: share*/

@media (max-width:999px) {
  .share {
   margin-left: 28px;
  }
}

/*text*/

.text {
  font-size: 32px;
  font-weight: 500;
  color: var(--text);
}

.text i {
  margin-right: 12px; 
}


/*media: text*/

@media (max-width:999px) {
  .text {
   font-size: 42px;
  }

  .text i {
   margin-right: 18px;
  }
}

/*media*/

.media {
  margin-left: 10px;
}

.media img {
  width: 42px;
  height: 42px;
  margin-left: 10px;
  border-radius: 50%;
  cursor: pointer;
}

#massenger {
  display: none;
}

/*media: media*/

@media (max-width:999px) {
  .media {
   margin-left: 5px;
  }

  .media img {
   width: 65px;
   height: 65px;
   margin-left: 10px;
  }
  
  #massenger {
   display: inline-block;
  }
  
  #link {
    display: none;
  }
}

/*main*/

main {
  width: 100vw;
  height: calc(100vh - (64px + 55px));
}

/*media: main*/

@media (max-width:999px) {
  main {
   height: calc(100vh - (88px + 80px));
  }
}

/*htitle*/

.htitle {
  padding-top: 45px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.htitle h1 {
  font-size: 38px;
  font-weight: 700;
  color: var(--main);
}

.htitle h1 > i {
  margin-right: 15px;
}

.htitle p {
  margin-top: 10px;
  font-size: 25px;
  color: var(--main);
}

/*media: htitle*/

@media (max-width:999px) {
  .htitle {
   padding-top: 150px;
  }

  .htitle h1 {
   font-size: 60px;
  }

  .htitle h1 > i {
   margin-right: 20px;
  }

  .htitle p {
   visibility: hidden;
  }
}

/*w*/

.w {
  margin-top: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.w input {
  width: 25%;
  height: 42px;
  outline: none;
  border: 3px solid var(--main);
  border-radius: 5px;
  padding-left: 10px;
  font-size: 35px;
  color: var(--main);
  caret-color: var(--main);
}

.w input::placeholder {
  font-size: 32px;
  color: var(--main);
}

.w button {
  margin-top: 45px;
  width: calc(25% + 10px);
  height: 42px;
  background-color: var(--main);
  border: none;
  border-top: 3px solid var(--border);
  border-right: 3px solid var(--border);
  border-radius: 5px;
  font-size: 22px;
  color: var(--text);
  text-shadow: 2px 2px 3px var(--shadow);
  cursor: pointer;
}

.w button[disabled] {
  opacity: 25%;
  cursor: not-allowed;
}

/*media: w*/

@media (max-width:999px) {
  .w {
   margin-top: 225px;
  }

  .w input {
   width: 82%;
   height: 90px;
   border-width: 5px;
   border-radius: 10px;
   padding-left: 15px;
   font-size: 75px;
  }

  .w input::placeholder {
   font-size: 75px;
  }

  .w button {
   margin-top: 100px;
   width: calc(82% + 15px);
   height: 90px;
   border-top-width: 8px;
   border-right-width: 8px;
   border-radius: 10px;
   font-size: 50px;
   padding-bottom: 2px;
  }

  .w button > i {
   margin-right: 10px;
  }
}

/*footer*/

footer {
  width: 100vw;
  display: flex;
  justify-content: center;
}

/*copied*/

.copied {
  width: 250px;
  height: 55px;
  background-color: var(--main);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: var(--text);
  visibility: hidden;
}

.copied i {
  margin-right: 10px;
}
